.main-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 6rem;
  grid-template-areas: 
    "hd"
    "main"
    "ft";
}

.main-grid__header {
  grid-area: hd;
}

.main-grid__main {
  grid-area: main;
}

.main-grid__footer {
  grid-area: ft;
}