.main-gradient {
  background: linear-gradient(180deg, #B0DCF5 0%, #D8D6CB 51.56%, #619DC9 100%);
}

.heading {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  font-size: 2.4rem;
}

.homepage-grid__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}