.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.4rem;
  color: #fbd26b;
  font-weight: 600;
  letter-spacing: .24rem;
}

.nav-bar__menu {
  display: flex;
  list-style: none;
}

.nav-bar__menu .nav-item {
  color: #e1e1e1;
  font-size: 1.6rem;
  font-weight: 500;
}

.nav-item.active,
.nav-bar__menu .nav-item:hover {
  border-bottom: 1px solid #fbd26b;
}

.nav-item:not(:last-child) {
  margin-right: 4rem;
}

@media screen and (max-width: 760px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 1.5rem;
  }
}